@model ECommerceMVC.Data.Product
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Shop Detail</span>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    <div class="carousel-item active">
                        <img style="max-width: 400px;margin: auto; display: flex;" class="w-100 h-100" src="@Model.Images" alt="Image">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3>@Model.ProductName</h3>
                <h3 class="font-weight-semi-bold mb-4">@Model.Price.ToString("N0") VND</h3>
                <p class="mb-4">
                  @Model.Description
                </p>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input id="quantity" type="text" class="form-control bg-secondary border-0 text-center" value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-primary px-3 btnAddToCart" data-id="@Model.ProductId">
                        <i class="fa fa-shopping-cart mr-1"></i> Add To
                        Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</div>

@section Scripts {
    <script type="text/javascript">
        
        $('.btnAddToCart').on('click', function () {
            var id = $(this).attr('data-id');
            var result = getAjax("/Products/AddToCart", { id: id, quantity: $('#quantity').val() })
            if (result.type) {
                Alert.success(result.message)
            } else {
                Alert.error(result.message)
            }
        })

    </script>
}
